:root {
  // Primary colors
  --primary-color: #007bff;
  --secondary-color: #6c757d;

  // Theme colors
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  // Background colors
  --bg-base-color: #f8f9fa;

  // Text colors
  --text-base-color: #212529;

  // Border colors
  --border-base-color: #dee2e6;

  --text-primary-color: #17252a;
  --text-secondary-color: #46707f;

}